* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  overflow: auto;
}
/* header starts */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.head {
  background-image: url(../new-year-new-me-main/images/banner/banner3.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: right;
  padding-left: 50%;
  padding-right: 5%;
}
.header-caption {
  text-align: right;
  margin-top: 250px;
  color: #f7f6f4;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  padding-bottom: 15px;
}
.header-description {
  font-weight: 400;
  font-size: 22px;
  color: #dce1e2;
  padding-bottom: 20px;
  padding-left: 20%;
}
.button-pri {
  color: rgb(6, 141, 175);
  background-color: #f7f6f4;
  font-size: 22px;
  font-weight: 600;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
}
/* header ends */
main {
  padding-top: 100px;
  width: 80%;
  margin: 0 200px 1px;
}
/* learn starts */

.learn-container {
  display: block;
  justify-content: center;
  margin-bottom: 100px;
}
.learn-text {
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}
.learn-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}
.learn-desc {
  margin: 0 120px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: rgb(77, 71, 71);
}

.img-cont {
  display: flex;
  justify-content: center;
}

.my-img {
  width: 500px;
  height: 400px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #127bd2;
}
.my-img1 {
  width: 270px;
  height: 400px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #127bd2;
}
/* learn ends */

/* failure section starts */

.failure-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fail-img {
  width: 100%;
  padding-left: 40px;
}
.fail-cont {
  width: 80%;
}
.text-title {
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  padding-bottom: 20px;
}
.text-desc {
  font-weight: 400;
  font-size: 25px;
  text-align: right;
  padding-bottom: 10px;
  text-align: left;
  color: #66666a;
}
ul {
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  color: #464647;
  padding-bottom: 20px;
  padding-left: 40px;
  text-align: left;
}
/* failures ends */

/* plan section starts */
.plan {
  margin-top: 250px;
}
.plan-title {
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  margin-bottom: 50px;
}

.plan-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-caption {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}
.plan-desc {
  font-size: 22px;
  font-weight: 400;
  color: #697375;
}
/* plans ends */

/* contact section starts */
.contact {
  margin-top: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../new-year-new-me-main/images/watch.png);
  height: 300px;
  border-radius: 15px;
  z-index: -1;
}
.content {
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  color: white;
  margin-top: 70px;
  margin-left: 50px;
  z-index: 10;
}
.cantent button {
  margin-top: 25px;
}
.contact::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 12px;

  background: linear-gradient(to right, #127bd2 0%, rgba(21, 21, 21, 0) 100%);
}
/* contact section end */
/* footer start */

.footer {
  height: 550px;
  width: 100%;
  margin-top: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #151414;
  background-position: bottom;
}
.info {
  color: #ffffff;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  text-align: left;
  margin-left: 40px;
}
.social-icons {
  padding-top: 20px;
}
.info-desc {
  width: 60%;
}
.info-title {
  font-weight: 600;
  font-size: 45px;
  padding: 20px 0;
}
.col {
  display: flex;
  justify-content: left;
  width: 300px;
}
.email-phone {
  font-size: 18px;
  padding: 18px 0;
}
.links {
  color: #aff0f0;
}
.social-icons {
  padding-right: 20px;
  display: flex;
  flex-direction: left;
}
.subscribe {
  width: 25%;
  height: 320px;
}
.title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.email-address {
  color: #ffffff;
  height: 65px;
  width: 400px;
  font-size: 20px;
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  border: 1px #ffffff solid;
  margin-bottom: 20px;
  padding-left: 18px;
}
::placeholder {
  color: #c0baba;
}
.sub-button {
  background-color: rgb(6, 141, 175);
  color: #f7f6f4;
  font-size: 22px;
  font-weight: 400;
  padding: 20px 38px;
  border: 0;
  margin-left: 5px;
  border-radius: 5px;
}
/* footer end */
